In [1]:
print("Olá mundo")

Olá mundo

## AULA 2: Biblioteca pandas

In [5]:
import pandas as pd

lista = [10, 20, 30, 40, 50]
serie = pd.Series(lista)
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
dados = {'Produto':['Arroz','Feijao','ovo'], 
         'Preco':[20.00, 8.00, 27.00], 
         'Qtde':[10, 15, 0]
        }

tabela = pd.DataFrame(dados)
print(tabela)

  Produto  Preco  Qtde
0   Arroz   20.0    10
1  Feijao    8.0    15
2     ovo   27.0     0

In [28]:
print(tabela['Produto'])

0     Arroz
1    Feijao
2       ovo
Name: Produto, dtype: object

In [32]:
print(tabela.iloc[1])

Produto    Feijao
Preco         8.0
Qtde           15
Name: 1, dtype: object

In [34]:
print(tabela.iloc[0,1])

20.0

In [47]:
pessoas = {'Nome': ['Carlos', 'Anderson', 'Gabriel', 'Lucas'],
            'idade': [30, 23, 21, 22],
            'Cidade': ['Lages', 'Mafra', 'Jaraguá do Sul', 'Jaraguá do Sul']
          }
tabela = pd.DataFrame(pessoas)
print(tabela.head())  


mediaIdade = tabela ['idade'].mean()
print(f"Média de idades da turma: {mediaIdade}")

       Nome  idade          Cidade
0    Carlos     30           Lages
1  Anderson     23           Mafra
2   Gabriel     21  Jaraguá do Sul
3     Lucas     22  Jaraguá do Sul
Média de idades da turma: 24.0

In [57]:
mais_q_22 = tabela [tabela['idade'] > 22]
print(mais_q_22)

       Nome  idade Cidade
0    Carlos     30  Lages
1  Anderson     23  Mafra